body {
    font-family: sans-serif, 'Lucida Sans';
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.parallax {
    background-image: url('../imagenes/jovenLector.jpeg'); /* mi imagen */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

section.contenido {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    width: calc(33.333% - 20px);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#back-to-top:hover {
    background-color: #575757;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .gallery img {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    footer p {
        font-size: 14px;
    }

    .gallery img {
        width: calc(100% - 20px);
    }
}
#p1,#p2{
    color: aliceblue;
}
p{
    font-size: x-large;

}
#p1,#p2{
    text-shadow: brown;
}

#pie-pagina p{
    font-size: small;
}
#cab2{
    color:aliceblue;
}
